.game-artwork {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--background);

    overflow: hidden; 
  }
  
  .game-artwork-image {
    width: 1000px;
    height: auto;
    max-height: 450px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    

    mask-image: linear-gradient(to right,
      transparent 0%, black 0%,
      black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right,
      transparent 0%, black 10%,
      black 90%, transparent 100%);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% 100% 100% 100%;
    -webkit-mask-size: 100% 100%;
    
    transition: transform 0.3s ease;
  }
  