@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

:root {
    --background: #1e1e1e;
    --card:       #2a2a2a;
    --accent:     #8f5ed3;
    --text:       #e0e0e0;
    --error:      #ff6b6b;
  }
  
  .profile-page {
    margin: 2rem auto;
    padding: 0 1rem;
    color: var(--text);
  }

  .profile-header {
    display:flex;
  }
  
  .profile-card {
    padding-left: 15rem;
    padding-right: 15rem;
    border-radius: 8px;
    text-align: left;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .profile-username {
    font-size: 1.8rem;
    color: var(--text);
    margin-top: 35px;
    margin-left: 20px;
  }

  .edit-profile-button {
    margin-left: 20px;
    margin-top: 40px;
    height: 1.8rem;
    width: 80px;
    background-color: var(--card);
    border-color: var(--card);
    color: var(--text);
  }

  .edit-profile-button:hover {
    background-color: rgb(105,105,105);
    color: rgb(220,220,220);
    cursor: pointer;
  }
  
  .profile-bio {
    margin: 1rem 0 2rem;
    line-height: 1.4;
  }
  
  .favorites-list {
    list-style: none;
    padding: 0;
  }
  
  .favorites-list li {
    background: var(--background);
    margin: 0.5rem 0;
    padding: 0.75rem;
    border-radius: 6px;
    text-align: left;
  }
  
  .error {
    color: var(--error);
    text-align: center;
  }
  

  .favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.5rem;
    justify-content: center;
    margin: 1rem auto;
    justify-items: center;
  }
  
  .favorite-game-card {
    width: 150px;           
    text-align: center;

  }
.favorite-game-card:hover {
  transform: translateY(-4px);
}

.favorite-game-card img {
  width: 150px;
  height: auto;
  border-radius: 4px;
}

