@tailwind base;
@tailwind components;
@tailwind utilities;

/* now your custom imports + overrides */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');



html, body, #root {
  margin: 0;
  padding: 0;
  font-family:
    'Montserrat',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
